:root {
    --primary-color-base: #2F80ED;
    --primary-color-base-rgb: 47, 128, 237;
    --primary-color-gradient: linear-gradient(270deg, #2F80ED 0%, #56CCF2 100%);
    --primary-color-50: #BFEAFD;
    --primary-color-100: #9BCCFA;
    --primary-color-800: #56CCF2;
    --primary-color-900: #2196F3;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}
